table{
    width: 400px;
    border-collapse: collapse;
    border: 2px solid black;
}

td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    padding: 8px;
}

.linha{
    background-color: turquoise;
}

td#celula{
    background-color: chartreuse;
}